---
title: Calendar
layout: default
description: "My attempt to master Data Structures and Algorithms within strict timelines"
header-style: text
---

{% include head.html %}
<style>
    /* Responsive iFrame */
   
  .responsive-iframe-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
  }
   
  .responsive-iframe-container iframe,   
  .vresponsive-iframe-container object,  
  .vresponsive-iframe-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  </style>

{% include intro-header.html type='page' short=true %}
<!--<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Africa%2FNairobi&src=aWNhbXB1c3ZpbGxhZ2VAZ21haWwuY29t&color=%23039BE5" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->

<div class="container" style="margin-top: 10px;;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12
        col-xs-12 postlist-container">
            <div class="responsive-iframe-container">
              <!--iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Africa%2FNairobi&showTitle=0&showTabs=0&showPrint=0&src=aWNhbXB1c3ZpbGxhZ2VAZ21haWwuY29t&color=%23039BE5"
                      style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
              </iframe>-->
                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Africa%2FNairobi&mode=WEEK&src=aWNhbXB1c3ZpbGxhZ2VAZ21haWwuY29t&color=%23039BE5" 
                    style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no">
                </iframe>
            </div>
        </div>

        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12
        col-xs-12 sidebar-container">
            {% include short-about.html %}
        </div>
    </div> 
</div>
